DATABASE_URL="postgresql://postgres:root@localhost:5432/lms"
REDIS_URL="redis://localhost:6379"

PORT=3000

ACCESS_TOKEN_SECRET="your_access_token"
REFRESH_TOKEN_SECRET="your_refresh_token"

ADMIN_NAME="your_admin_name"
ADMIN_EMAIL="your_admin_email"
ADMIN_PASSWORD="your_admin_password"

